@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    1570 Woodward Ave<br />
    Detroit, MI 48226<br /><br />
    We're up on the third floor!<br /><br />
    <abbr title="Phone">P:</abbr>
    313.338.2780
</address>
