@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Grand Circus Cafe</h1>
    <p class="lead">Are you sleepy? Of course you are. Drink some coffee!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First visit here?</h2>
        <p>
            Click on the register link at the top of the page to set up an account!         </p>
        </div>
</div>